<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("./partials/header") %>
    <title>Blogo</title>
  </head>
  <body class="bg-light">
    <%- include("./partials/navbar", { user }) %>
    <div class="container">
      <% if (blog) { %>
      <div class="m-4">
        <h3><%= blog.title %></h3>
        <img
          src="<%= blog.coverImage %>"
          width="75%"
          height="auto"
          alt="<%= blog.title %>"
        />
        <p class="mt-2"><%= blog.body %></p>
        <h6>
          <img
            src="<%= blog.createdBy.profilePicUrl %>"
            width="50px"
            class="rounded-circle"
            alt="profile"
          />
          <%= blog.createdBy.username %>
        </h6>
      </div>
      <% } else { %>
      <div class="alert alert-warning m-4 text-center" role="alert">
        <%= error %>
      </div>
      <% } %>
      <div class="m-4">
        <h4>Comments (<%= comments.length %>)</h4>
        <% comments.forEach(comment => { %>
        <div>
          <h6>
            <img
              src="<%= comment.createdBy.profilePicUrl %>"
              width="50px"
              class="rounded-circle"
              alt="profile"
            />
            <%= comment.createdBy.username %>
          </h6>
          <p class="pl-4"><%= comment.content %></p>
        </div>
        <% }) %> <% if (user.username) { %>
        <form action="/blog/addcomment/<%= blog._id %>" method="post">
          <h5>Add Comment</h5>
          <textarea class="form-control" name="content" rows="2"></textarea>
          <button type="submit" class="btn btn-primary mt-2">
            Add Comment
          </button>
        </form>
        <% } %>
      </div>
    </div>
    <%- include("./partials/scripts") %>
  </body>
</html>
